@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  /*@apply bg-[#050505] text-zinc-400 antialiased;*/
  margin: 0;
  background-attachment: fixed; /* Zapobiega "pływaniu" tła */
}

/* Usuwamy wszelkie domyślne gradienty z szablonu Astro */
html, body {
  /*background: #050505;*/
}
@layer base {
  html {
    font-family: 'Geist Sans', sans-serif;
  }
}

/* Jeśli to nie zadziała, użyj najbardziej agresywnej metody: */
body {
  font-family: 'Geist Sans', sans-serif !important;
}