@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  /*@apply bg-[#050505] text-zinc-400 antialiased;*/
  margin: 0;
  background-attachment: fixed;
}


html, body {
  /*background: #050505;*/
}
@layer base {
  html {
    font-family: 'Geist Sans', sans-serif;
  }
}


body {
  font-family: 'Geist Sans', sans-serif !important;
}